body{
    background-image:url("../images/stripes-light.png");
    font-family: Arial, 'Helveticca Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
}
/* This is the header that says Sara Hunter */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight:bold;
}
/*This is the title for each page */
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight:bold;
}
.bg-title{
    background-color: #4aaaa5;
    display:inline-block;
}
.footer-style{
    background-color: #666666;
    color: #cccccc;
    border-top:7px solid #4aaaa5;
    font-size: 12px;
}
.border-title{
    border-bottom: 2px solid #cccccc;
}

/* Just for Portfolio page*/

.cardtitle{
  background-color: #4aaaa5;
  width:100%;
}


     /* Sticky footer styles - 
     The following CSS is from a bootstrap tutorial https://getbootstrap.com/2.3.2/examples/sticky-footer.html
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 93%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto 0px;
      }

      /* Set the fixed height of the footer here */
      #footer {
        height: 30px;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }